$transitionTime: 0.5s;

.api-instructions__block{
    position: absolute;
    top: 0px;
    width: 100%;
    // height: 100%;
}

.api-instructions__container {
    position: absolute;
    top: 0px;
    width:100%;
    height:100%;
    border-radius: .25rem;
    background-color: $info;    
    overflow: hidden;    
    transition: max-height $transitionTime ease, 
        max-width $transitionTime ease;
    &:hover{
        background-color: $infoDark
    }
}

.api-instructions__container[data-state="collapse"] {
    max-height:37px; // height of button
    max-width:182px; // width of button
}

.api-instructions__container[data-state="expand"] {
    max-height:100%;
    max-width:100%;
}

.api-instructions__text {
    color: white;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    padding-left:3rem;
    transition: max-height .5s ease;
}

.api-instructions__text[data-state="collapse"] {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.api-instructions__text[data-state="expand"] {
    visibility: visible;
    opacity: 1;
    max-height:100%;
}

.api-instructions__button{
    min-height:37px;
    min-width:182px;
    pointer-events: none;
    font-size:1.25rem;
    background-color: transparent;
    color: #fff;
    padding: 0px 5px 5px 8px;
    border-color: #10707f;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: $transitionTime ease,
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out;
    &:hover{
        background-color: $infoDark;
        // border-color: #117a8b;
    }
    &:focus{
        outline: none;
        outline: 0px none -webkit-focus-ring-color;
    }
}

.api-instructions__button[data-state="expand"] {
    // background-color: transparent;
    // pointer-events: none;
}

.api-instructions__icon{
    transition: transform .5s ease;
}

.api-instructions__icon[data-state="expand"]{
    transform: rotate(180deg)
}

.api-instructions__button-row{
    pointer-events: none;
}