// general
[data-visibility="false"]{
    display:none;
}

[data-loaded="false"]{
    color:#6c757d!important;
}

.cursor--text{
    cursor: text !important;
    user-select: text !important;
}


// add task component
.add-task__item{
    width:85%;
}

.add-task__success-indicator{
    width:15%;
}

.add-task__input--success-indicator{
    position: absolute;
    top:0;
    right:0;
}


// view task component
.view-tasks__select-dropdown{
    max-width: 200px;
}

.view-tasks__tasks-list{
    min-width: 500px;
}

.view-tasks__task{
    width:100%;
}

[data-strike="Complete"]{
    text-decoration: line-through;
}

//landing page
.landing-page__task-image{
    display:block;
    margin:0 auto;
    width:150px;
}